body {
	background-image: url('images/bloodbackground.jpg');
	background-repeat: no-repeat;
	background-position:right bottom;
	background-color: black;
	background-attachment:fixed;
	font-size: 14pt;
	color: white;
}

.banner {
	margin-left: 25px;

}

a:visited {
	color: white;
}

.logo {
	vertical-align: bottom;
}

p, #links {
	width: 50%;
	border: 2px red dashed;
}

#links {
	font-family: sans-serif, serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
}